* {
    margin: 5px;
    padding: 5px;
}

header {
    background-color: green;
}

nav {
    background-color: chartreuse;
}

section {
    background-color: lightcoral;
}

main {
    background-color: red;
}

footer {
    background-color: lightblue;
}
